{% extends 'base.html' %}


{% block title %}
        {{ page_user.user.first_name }} {{ page_user.user.last_name }}
{% endblock %}


{% block body %}
<h1>{{page_user.user.first_name }} {{ page_user.user.last_name }}</h1> 

<label> Bio: {{ page_user.bio }} </label>

{% if page_user.profile_pic %}
        <img src="{{ page_user.profile_pic.url }}" class="img-thumbnail" alt="Responsive image" width="250" 
        height="300">
{% endif %}
<p>Name: {{page_user.user.first_name}} {{page_user.user.last_name }}</p>
<p>Email: {{page_user.user.email}}</p>
<br>
<a href = {% url 'home'  %} class="btn btn-success">Home</a>
{% endblock %}