{% extends 'base.html' %}
{% block title %}
        {{ post.title }}
{% endblock %}


{% block body %}

<body>

    <h1>{{ post.title }}</h1>
    <small> <b><a href="{% url 'profile_page' post.author.profile.id %}">{{ post.author }}</a>  
         </b> - {{ post.date }} - <a href = "{% url 'category' post.category %}">{{ post.category }}</a></small>
    {% if post.header_image %}
        <img src="{{ post.header_image.url }}" width="250" 
        height="300">
    {% endif %}
    <p> {{ post.body | safe }}</p>

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href = "{% url 'update' post.pk  %}" class="btn btn-success">Edit</a><br>
            <a href = "{% url 'delete' post.pk  %}" class="btn btn-success">Delete</a> 
        
        {% elif user.profile.user_status == "Editor" and post.post_status == 0 %}
            <a href = "{% url 'approve' post.pk  %}" class="btn btn-success">Aprove</a><br>
            <a href = "{% url 'delete' post.pk  %}" class="btn btn-success">Decline</a> 
        {% elif user.profile.user_status == "Admin" and post.post_status == 0 %}
            <a href = "{% url 'approve' post.pk  %}" class="btn btn-success">Aprove</a><br>
            <a href = "{% url 'delete' post.pk  %}" class="btn btn-success">Decline</a> 

        {% elif user.profile.user_status == "Editor" or user.profile.user_status == "Admin" %}    
            <a href = "{% url 'delete' post.pk  %}" class="btn btn-success">Delete</a>

        {% endif %}
        
    {% endif %}
    



   
    <a href = {% url 'home'  %} class="btn btn-success">Home</a>
</body>
{% endblock %}