{% extends 'base.html' %}

{% block body %}
{% if category_posts %}
<h1>{{ cats }}</h1>
<ul>
    {% for post in category_posts %}
         <li><p><a href = "{% url 'article' post.pk %}">
             {{post.title}} </a> - <a href = "{% url 'category' post.category %}">{{ post.category }}</a>
        </p></li>

       <p>- {{ post.body|slice:":100" | safe }}<a href = "{% url 'article' post.pk %}">Read more...</a></p><br>
        
           
    {% endfor %}

</ul>
{% else %}

 <h1>No Article Exists!! </h1>
{% endif %}

{% endblock %}
