{% extends 'base.html' %}


{% block title %}
        {{ post.title }}
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}

        <h1>Update Your Article</h1>

        <form method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-success">Update</button> <br>

        </form>
        <br>
        <a href = {% url 'home'  %} class="btn btn-success">Home</a>
    {% else %}
        <h2> Go F yourself </h2>
    {% endif %}


{% else %}
Mara kha shala!!!
{% endif %}

{% endblock %}
